.onboarding__container__social_buttons {
    margin-top: 10rem;
    padding: 1rem;
    background: #FAFAFA0A;
    border-radius: 1rem;
    width: 24rem;
}

.onboarding__container__social_buttons__div {
    display: flex;
    cursor: pointer;
    padding: 0.35rem 0.65rem;
    align-items: center;
    margin-bottom: 0.75rem;
    border-radius: 1rem;
}

.onboarding__container__social_buttons__div > img {
    width: 2rem;
    height: 2rem;
}

.onboarding__container__social_buttons__btn {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #ffffff;
    margin-left: 0.75rem;
}

.onboarding__container__divider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.onboarding__container__divider > p {
    font-size: 0.85rem;
    color: #FAFAFA4D;
}

.onboarding__container__divider > hr {
    width: 44%;
    border: 2px solid #FFFFFF1A;
    margin: 0 0.5rem;
}

.onboarding__container__metamask_walletConnect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 0.75rem;
    width: 100%;
}

.onboarding__container__metamask_walletConnect > div {
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 1rem;
    padding: 0.5rem 0;
    justify-content: center;
    border: 1px solid #FAFAFA29;
    margin: 0 0.2rem;
}

.metamask_btn, .walletConnect_btn {
    margin: 0.25rem;
}